<h1 id='logo'>
  <%= link_to refinery.blog_root_path do %>
    <span class="logo-emoji">emoji</span> <span class="logo-tada emoji">&#x1F389;</span> <span class="logo-party">party</span>
  <% end %>
</h1>

<div class="subtitle"><%= t('subtitle') %></div>

<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
