<h1 id='logo'>
  <%= link_to refinery.root_path do %>
    <span class="logo-emoji">emoji</span> <span class="logo-tada emoji">&#x1F389;</span> <span class="logo-party">party</span>
  <% end %>
</h1>

<div class="emoji" id="header_emoji"><%= raw random_emoji(20) %></div>

<div class="subtitle"><%= t('subtitle') %></div>