/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 */

body {
  background: #EEEEEE;
  font-family: "pt-sans-caption";
  color: #424242;
  padding: 0;
}

#page_container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 10px 0;
}

#logo {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #0EB7DE;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.emoji {
  font-family: Symbol;
}

.logo-emoji {
  color: #E6368D;
}

.logo-party {
  color: #0EB7DE;
}

.subtitle {
  font-style: italic;
  margin-bottom: 20px;
}

/* maybe figure out a better way to hide these things */
#body_content_title, #menu, #side_body, .comment_count {
  display: none;
}

.blog_post {
  background: white;
  padding: 20px 10px;
  width: 640px;
  margin-bottom: 20px;
}

.blog_post h2 {
  font-size: 20px;
}

.blog_content {
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0;
}

.blog_post time {
  color: #797979;
}

.post_tag {
  margin-right: 10px;
  font-size: 12px;
}
