@import 'colors';

.details {
  .share_tools {
    display: inline-block;
    padding-top: 4px;
    vertical-align: middle;
    margin-left: 5px;
    height: 24px;

    .fb-share-button {
      vertical-align: top;
      margin-left: 5px;
    }

    a {
      color: transparent;
    }

    @media only screen and (max-width : 500px) {
      padding-top: 10px;
      margin-left: 0;
    }
  }

  time {
    color: $deemphasized;
    display: inline-block;
    vertical-align: middle;

    @media only screen and (max-width : 500px) {
      display: block;
    }
  }
}

.post_tag {
  margin-right: 10px;
}

#page {
  width: 100%;
}

.author_sidebar, #blog_posts {
  display: inline-block;
  vertical-align: top;
}

.author_sidebar {
  margin-left: 20px;

  @media only screen and (max-width : 960px) {
    margin-left: 0;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: $party_pink;
  }

  .author_info {
    @media only screen and (max-width : 960px) {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

#blog_posts .blog_post, #blog_post, .author_sidebar {
  background: white;
  padding: 20px;
  margin-bottom: 20px;

  @media only screen and (max-width : 500px) {
    padding: 10px;
  }
}

/*index*/
#blog_posts {
  width: 640px;

  @media only screen and (max-width : 960px) {
    width: 100%;
  }

  .blog_post {
    h2 {
      font-size: 20px;
    }

    .blog_content {
      line-height: 24px;
      margin: 20px 0;
    }

    .post_tag {
      font-size: 12px;
    }
  }
}

/*show*/
#show_blog_post {
  max-width: 860px;
  width: 100%
}

#content_container_blog_post {

  #blog_post {
    h2 {
      font-size: 36px;

      @media only screen and (max-width : 500px) {
        font-size: 26px;
      }
    }

    .blog_content {
      font-size: 16px;
      line-height: 28px;
      margin: 20px 0;

      .author_info {
        float: left;
        padding-top: 8px;
        margin-right: 20px;
      }
    }
  }
}

#comments {
  display: none;
}