<aside class="author_sidebar">
  <h3><%= t('sidebar_title') %></h3>
  <% authors = [Refinery::User.find_by_username('stella'), Refinery::User.find_by_username('siena')] %>

  <% for author in authors %>
    <%= image_tag(author.photo, class: "author_photo") %>
    <p class="author_name">
      <%= link_to author.full_name, refinery.blog_root_path(author: author.username) %><br/>
      <%= link_to("@#{author.twitter}", "https://www.twitter.com/#{author.twitter}", target: "_blank") %>
    </p>
  <% end %>
</aside>