<aside class="author_sidebar">
  <h3><%= t('sidebar_title') %></h3>
  <% authors = [Refinery::User.find_by_username('stella'), Refinery::User.find_by_username('siena')] %>

  <% for author in authors %>
    <%= render "/author_info", author: author %>
  <% end %>
</aside>